{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} | Zamówienia{% endblock %}

{% block body %}
    <h1>Twoje Zamówienia</h1>
    <table>
    	<thead>
            <tr>
                <th>Id</th>
                <th>nazwa</th>
                <th>cena</th>
                <th>ilość</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
                <tr>
                	<td>{{ order.id }}</td>
                	<td>{{ order.products_quantity }}</td>
                	<td>{{ order.order_value }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}