{% extends "::base.html.twig" %}

{% block title %}Zamówienia{% endblock %}

{% block body %}

{% for order in orders %}
    <div class="row offer">
    	<div class="bright">
    		<h4>{{ order.orderValue }}</h4>
    		<h4></h4>
    	</div>
    </div>
{% endfor %}

{% endblock body %}